#main-content {
    padding: 0 10%;
    margin: 30px 0 50px;
}
#main-content header {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
}
#main-content header h1 {
    margin-bottom: 80px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    width: 34.5%;
    border-bottom: solid #ffffff71 1px;
    padding-bottom: 10px;
}
#main-content header strong {
    width: 62.8%;
    height: 84px;
    border-bottom: solid #ffffff71 1px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container-profile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.container-infos-user {
    width: 400px;
    flex-grow: 0;
}
.img-perfil {
    background-color: #111111;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
}
.img-perfil img {
    width: 250px;
    height: 250px;
    position: absolute;
    border-radius: 5px;
    border: #71b7ff solid 2px;
    padding: 10px;
}
.bio, .infos {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 5px;
    padding: 30px;
    background-color: #111111;
}
.bio h2, .infos h2 {
    font-size: 23px;
}
.bio {
    align-items: baseline;
    justify-content: space-evenly;
}
.infos {
    align-items: baseline;
    justify-content: space-between;
}
.infos .location {
    width: 100%;
    display: flex;
    align-items: center;
}
.infos .blog {
    width: 100%;
}
.container2 {
    flex-grow: 1;
    width: 100%;
    margin-left: 30px;
}
.repositorios {
    width: 100%;
    padding: 20px 20px 0;
    border-radius: 5px;
    background-color: #111111;
}
.repositorios header {
    width: 100%;
    margin-bottom: 40px;
}
.repositorios header div h2 {
    margin-bottom: 5px;
    font-size: 23px;
}
.row-separator {
    background-color: #ffffff71;
    width: 100%;
    height: 0.07px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

/* Conteúdo sem usuário buscado */
.content-sem-user {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.content-sem-user h2 {
    font-size: 60px;
}
.response {
    font-size: 22px;
    font-weight: 300;
}
.content-sem-user div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-sem-user div span {
    font-size: 80px;
    font-weight: 500;
}